<html>
    <head>
        <title>TicketBox</title>
    </head>
    <body>
        <table border="1">
            <thead>
                <td>出发</td>
                <td>到达</td>
                <td>出发时间</td>
                <td>到达时间</td>
                <td>价格</td>
            </thead>
            <tr>
                <td>北京</td>
                <td>上海</td>
                <td>8:00</td>
                <td>10:00</td>
                <td>17</td>
            </tr>
            <tr>
                <td>Beijing</td>
                <td>Shenzhen</td>
                <td>8:10</td>
                <td>18:00</td>
                <td>19</td>
            </tr>
            <tr>
                <td>Shenzhen</td>
                <td>Guangzhou</td>
                <td>8:10</td>
                <td>18:00</td>
                <td>19</td>
            </tr>
        </table>
    </body>
</html>
